<div class="col-2">
<img src="~/images/pictureNo1.jpeg" alt="Luis Delgado" class="imagenes">
<div >
    <a href="https://www.facebook.com/LEDOLuisDelgado"><img src="~/images/FBL.png" style="width:10%; height:auto;"></a>
    <a href="https://www.instagram.com/ledodo99/?hl=es-la"><img src="~/images/intalogo.png" style="width:10%; height:auto;"></a>
    <a href="mailto:luis.edo.1999@gmail.com"><img src="~/images/gmail.png" style="width:10%; height:auto;"></a>
    <a href="mailto:ledodo99@hotmail.com"><img src="~/images/Outlook.png" style="width:10%; height:auto;"></a>
</div>
<div class="col-5">
    <h2 id="About_Me" class="titulos" >About Me</h2>
    <p style="margin:10px;">
        I am a student born and raised in Guatemala City, Guatemala. I enjoy playing games, math and exploring the arts. I have experience in acting, choir, art classes and gamejams for either personal gain or fun.
        I have also spent a small time working in customer service wich I do not recomend. I decided to stody computer science due to my enjoinment of proggraming and the creation of magic through tecnology. My biggest dream is to
        create a personal 2D fighting game.        
    </p>
</div>
<div class="col-5">
    <h2 id="Aspirations" class="titulos" >My Aspirations</h2>
    <ul>
        <li>I want to amaze and create, be a tecnological magician</li>
        <li>I wish to create videogames that break the boundries created my the industry</li>
        <li>I want to modify the way the tec industry works and sees itself and is seen by others</li>
    </ul>
</div>
</div>
<div class="fondo2 col-7">
	<h1 class="titulos">Luis Estuardo Delgado</h1>
</div>
<div class="col-7 fondo1">
	<h2 id="Studies" class="titulos">Studies</h2>	
	<ul style="margin-left: 9px; list-style-type:none;">
		<li>Universidad del Valle de Guatemala: Currently studying Engineering in Computer Science and Information Tecnologies</li>
		<li>Liceo Javier: High School Diploma in Science and Arts (2016) </li>
		<li>Dale Carnigie Training for leadership (2015)</li>
	</ul>
</div>
<div class="fondo2 col-7">
    <h2 id="Programing_Languages" class="titulos">Programing Languages</h2>
    <p>Java</p>
    <div class="contenedorSB">
        <div class="skillBar javaSB">
            80%
        </div>
    </div>
    <p>.Net</p>
    <div class="contenedorSB">
        <div class="skillBar net">
            60%
        </div>
    </div>
    <p>C#</p>
    <div class="contenedorSB">
        <div class="skillBar cSharp">
            50%
        </div>
    </div>
    <p>c++</p>
    <div class="contenedorSB">
        <div class="skillBar cPlPl">
            40%
        </div>
    </div>
</div>
<div class="fondo1 col-7">
    <h2 id="Languages" class="titulos">Languages</h2>
    <p>Spanish</p>
    <div class="contenedorSB">
        <div class="skillBar espaniol">
            90%
        </div>
    </div>
    <p>English</p>
    <div class="contenedorSB">
        <div class="skillBar english">
            85%
        </div>
    </div>
</div>
<div class="fondo2 col-7">
    <h2 id="Hobbies" class="titulos">Hobbies</h2>
    <ul style="margin-left: 9px; list-style-type:none;">
		<li>Programing/Playing Videogames</li>
		<li>Painting</li>
		<li>Singing</li>
		<li>Psycoanalysing people</li>
	</ul>
</div>